.navbar {
    overflow: hidden;
    background-color: #rgba(61, 129, 120, 0.521);
}

.header {
    padding: 80px;
    text-align: center;
    background: cadetblue;
    color: cornflowerblue;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

* {
    box-sizing: border-box;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #363c44;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.AboutMe {
    height: 440px;
    width: 400px;

}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
